.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  flex-flow: row wrap;
  width: 640px;
  height: 640px;
  background-color: rgb(2 71 48);
}

.cell {
  width: 80px;
  height: 80px;
  border: 1px solid black;
}

.stone {
  width: 56px;
  height: 56px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
  border-radius: 56px;
}

.kouhochi {
  width: 56px;
  height: 56px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(94 4 4);
  border-radius: 56px;
}
